//Variable.scss

$bg_color: #d9d9d9;
$base_color: #ffffff;
$primary_color: #223555;
$two_color: #b89b5e;
$three_color: #555555;
$four_color: #cccccc;
$five_color: #222222;
$one_family: "Lora", sans-serif;
$two_family: "Oxygen", sans-serif;
$large_size: 18px;
$medium_size: 16px;
$regular_size: 14px;
$small_size: 12px;

//Media

//X_Large
@mixin x_large() {
  @media only screen and (max-width: 1400px) {
    @content;
  }
}
//Large
@mixin large() {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}
//Notebook
@mixin notebook() {
  @media only screen and (max-width: 992px) {
    @content;
  }
}
//Tablet
@mixin tablet() {
  @media only screen and (max-width: 768px) {
    @content;
  }
}
//X_Tablet
@mixin x_tablet() {
  @media only screen and (max-width: 575px) {
    @content;
  }
}
//Mobil
@mixin mobil() {
  @media only screen and (max-width: 480px) {
    @content;
  }
}
//Small
@mixin small() {
  @media only screen and (max-width: 350px) {
    @content;
  }
}
//X-Small
@mixin x_small() {
  @media only screen and (max-width: 250px) {
    @content;
  }
}

//Align_İtems
.align_items {
  display: flex;
  align-items: center;
}
